img{
    width: 300px;
    height:300px;
    float:left;
      padding: 0,10,0,0;
/**background image color **/
    background-color:#A0C3F5;
    }
    body{
/**body color **/
    background-color: #0D1727;
    }
    .text{
/**big main top text color **/
      color: #9ED7E6;
      text-align: justify;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration:bold;
    }
    h2{
/**body text color **/
    background-color: #A0C3F5;
      color: #424CFB;
    }
    h3{
    color: #2a9df4;
    }
    .container{
    background-color:#DDD8C4;
    margin:30px auto;
      width:50%;
    height:50%;
      padding:15px;
    }
    #sec2{
    background-color:#292D53;
    }
    
    header ul
    {
    list-style-type: none;
    background-color:#365880;
    overflow:hidden;
    }
    header li{
    color:#9ED7E6;
    float: left;
    display: block;
    font-size:2em;
    padding:12px;
    
    }
    
    .button{
    color:#0800FF;
    background-color:#A0C3F5;
            margin:15px auto;
      width:10%;
    height:10%;
      padding:3px;
    }
