img{
    width: 25%;
    height:25%;
    float:left;
      padding: 0,10,0,0;
/**background image color **/
    background-color:#A0C3F5;
    }
    body{
/**body color **/
    background-color: #0D1727;
    }
    .text{
/**big main top text color **/
      color: #9ED7E6;
      font-family: sans-serif;
      text-decoration:bold;
    }
    h2{
/**body text color **/
    background-color: #A0C3F5;
      color: #424CFB;
    }
    h3{
    color: #2a9df4;
    }
    .container{
    background-color:#DDD8C4;
    margin:25px auto;
      width:50%;
    height:60%;
      padding:8px;
    }
    #sec2{
    background-color:#292D53;
    }
    
    header ul
    {
    list-style-type: none;
    background-color:#365880;
    overflow:hidden;
    }
    header li{
    color:#9ED7E6;
    float: left;
    display: block;
    font-size:2em;
    padding:12px;
    }
    
    .button{
    color:#0800FF;
    background-color:#A0C3F5;
    padding: 10px 24px;
  text-decoration: none;
  display: inline-block;
         transition-duration: 0.4s;
    }

.button:hover {
  background-color: #A0C3F5; /* Green */
  color: white;
}
